bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
safewalletlite
safewalletlite.app
safecoinwallet-lite-mingw*
safecoinwallet-lite.vcxproj*
safewalletlite.vcxproj*
safecoinwallet-lite.sln
safecoinwallet-lite.pro.user
/Makefile
/Makefile.*
qrc_application.cpp
safewalletlite_plugin_import.cpp
safecoinwallet_plugin_import.cpp
safewalletlite_resource*
safecoinwallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
safecoind
IDEWorkspaceChecks.plist
*.sln
node_modules
safewalletlite.pro.user.4.10-pre1
safewalletlite
safewalletlite_plugin_import.cpp
safewalletlite_resource.rc
