bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
safewallet
Safewallet-Lite.app
safewallet-lite-mingw*
safewallet-lite.vcxproj*
safewallet.vcxproj*
safewallet-lite.sln
safewallet-lite.pro.user
/Makefile
/Makefile.*
qrc_application.cpp
safe-qt-wallet_plugin_import.cpp
safewallet_plugin_import.cpp
safe-qt-wallet_resource*
safewallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
zcashd
IDEWorkspaceChecks.plist
*.sln
node_modules
safe-qt-wallet.pro.user.4.10-pre1
safewallet-lite
safewallet-lite_plugin_import.cpp
safewallet-lite_resource.rc
