bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
safecoinwalletlite
safecoinwalletlite.app
safecoinwallet-lite-mingw*
safecoinwallet-lite.vcxproj*
safecoinwalletlite.vcxproj*
safecoinwallet-lite.sln
safecoinwallet-lite.pro.user
/Makefile
/Makefile.*
qrc_application.cpp
safecoinwalletlite_plugin_import.cpp
safecoinwallet_plugin_import.cpp
safecoinwalletlite_resource*
safecoinwallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
safecoind
IDEWorkspaceChecks.plist
*.sln
node_modules
safecoinwalletlite.pro.user.4.10-pre1
safecoinwalletlite
safecoinwalletlite_plugin_import.cpp
safecoinwalletlite_resource.rc
SafecoinWalletLite
.gdb_history
