Package: SafecoinWalletLite
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: SafeCoin <admin@safecoin.org>
Description: SafecoinWalletLite is a Lightwallet for safecoin. It comes with 
 full support for transparent and shielded addresses.
